<h1>welcome</h1>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Please log in</h3>
  <h3>Email <input type="email" name="email"></h3>
  <h3>Password <input type="password" name="email"></h3>
  <button>LogIn</button>
</form>

<h4>Don't have an account yet? Please click <a href="/register">HERE</a> to register</h4>
