<h1>Welcome <%= @user.username%></h1>

<form class="" action="/artists" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Artist Name:</label>
  <input type="text" name="artist_name" value="">
  <input type="submit" name="" value="Search">
</form>

<h2>Favorite Tracks</h2>
<table>
  <tr>
    <th>Artist</th>
    <th>Song</th>
    <th>Album</th>
    <th>Released Year</th>
  </tr>

  <tr>
    <td>Testing</td>
    <td>Testing</td>
    <td>Testing</td>
    <td>Testing</td>
  </tr>
</table>

<h2>Favorite Artists</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Genres</th>
    <th>Top Track</th>
  </tr>

  <tr>
    <td>Testing</td>
    <td>Testing</td>
    <td>Testing</td>
  </tr>
</table>

<h2>Favorite Videos</h2>
<table>
  <tr>
    <th>Artist</th>
    <th>Name</th>
    <th>Genres</th>
  </tr>
</table>
